.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.button {
  height: 55px;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background-color: #e5e7eb;
  color: #020617;
  box-shadow: 0 4px 0 #9ca3af;
  transition: all 0.1s ease;
}

.button:hover {
  background-color: #d1d5db;
}
.button:active {
  box-shadow: 0 2px 0 #9ca3af;
  transform: translateY(2px);
}
.operatorButton {
  background-color: #f97316;
  color: #ffffff;
  box-shadow: 0 4px 0 #c2410c;
}
.operatorButton:hover {
  background-color: #ea580c;
}
.specialButton {
  background-color: #ef4444;
  color: #ffffff;
  box-shadow: 0 4px 0 #b91c1c;
}
.specialButton:hover {
  background-color: #dc2626;
}
.equalsButton {
  background-color: #ce3737;
  color: #ffffff;
  box-shadow: 0 4px 0 #e71f90;
}
.equalsButton:hover {
  background-color: #e51863;
}

.numberButton {
  background-color: #334155;
  color: ffffff;
  box-shadow: 0 4px 0 #1e293b;
}

.numberButton:active {
  box-shadow: 0 2px 0 #1e293b;
  transform: translateY(2px);
}

.numberButton:hover {
  background-color: #475569;
}